%h1 Active Raffles

- if @raffles.empty?
  %h2 There are currently no active raffles. Check back latter!
  or
  = link_to 'Start Yours', new_my_raffle_path, :class => 'invert'
- else
  - @raffles.each do |raffle|
    %div.raffle{:id => "raffle-#{raffle.id}"}
      %span.ad= raffle_ad(raffle)
      %span.time= raffle_time(raffle)

  = will_paginate @raffles
