.participant{:id => "participant-#{participant.id}"}
  %span.thumb
    = image_tag participant.twitter_image
  %span.body
    = "#{link_to(participant.twitter_login, twitter_user_url(participant), :target => '_blank')}:"
    = participant.tweet
    %span.time
      = link_to "#{time_ago_in_words(participant.posted_at)} ago", twitter_status_url(participant), :target => '_blank'
