%h1.my_raffles Your Raffles

- @raffles.each do |raffle|
  %div.raffle{:id => "raffle-#{raffle.id}"}
    %span.ad
      = link_to "##{raffle.hashtag}", my_raffle_path(raffle)
      \/
      = "participant".countize(raffle.participants.count)
    %span.time= raffle_time(raffle)

%p= link_to 'Start a new one', new_my_raffle_path, :class => 'invert'
