%h2 Your Raffles

- @raffles.each do |raffle|
  %div{:id => "raffle-#{raffle.id}"}
    = "##{raffle.hashtag}"
    <br />
    = "participant".countize(raffle.participants.count)
    = "ends in #{distance_of_time_in_words(Time.now, raffle.end_time)}"
