%h1= "##{@raffle.hashtag} Raffle"

.raffle
  %span.ad
    Winner gets
    = @raffle.prize
  %span.time= raffle_time(@raffle)

- if @raffle.ended?
  - if @raffle.winner
    %h2 And the winner is:
    .winner
      = render :partial => 'participant', :object => @raffle.winner
      = link_to 'Choose another winner', change_winner_my_raffle_path(@raffle), :method => :put
      &nbsp;&nbsp;&nbsp;
      = link_to 'Tweet it', tweet_message_url("Congrats, @#{@raffle.winner.twitter_login}! You're the winner! ##{@raffle.hashtag}"), :target => '_blank'
  - else
    %h2 The winner is not selected yet. Please check back in a moment!

- if @participants.empty?
  %h2 No participants yet. Check back latter!

- else
  %h2 Participants
  = render :partial => 'participant', :collection => @participants
  = will_paginate @participants

%p= link_to'Back to my other raffles', my_raffles_path, :class => 'invert'
