%h2= "##{@raffle.hashtag}"

%p= raffle_time(@raffle)

- if @raffle.ended?
  - if @raffle.winner
    .winner= render :partial => 'participant', :object => @raffle.winner
  - else
    The winner is not selected yet. Please check back in a moment!

%h3 Participants

= render :partial => 'participant', :collection => @participants

= will_paginate @participants

%p= link_to('Back to my other raffles', my_raffles_path)
