#header
  = link_to image_tag('logo.png'), root_path, :id => 'logo'

  %ul.top-navigation
    - if logged_in?
      %li 
        %span= "Hi, #{current_user.name}!"
      %li= link_to 'My Raffles', my_raffles_path
      %li= link_to 'Start Raffle', new_my_raffle_path
      %li= link_to 'Participate', raffles_path
      %li= link_to 'Log out', logout_path, :method => :delete
    - else
      %li= link_to 'Log In', login_path
      %li= link_to 'Start Raffle', new_my_raffle_path
      %li= link_to 'Browse Raffles', raffles_path
